/** CSS común a todo el sitio **/
body, html {
	padding: 0;
  	margin: 0;
  	height: 100%;

  	font-family: 'Open Sans', sans-serif;

  	background-color: #1B1635;
}

h1, h2, h3, h4, h5, h6 {
	color: #2D2558;
	font-family: Georgia, Times, serif;
}

a {
	color: #b5871c;
	text-decoration: none;

	-webkit-transition: all 350ms ease-out;
    -moz-transition: all 350ms ease-out;
    -o-transition: all 350ms ease-out;
    transition: all 350ms ease-out;
}

a:hover {
	color: #d3b369;
}

.cinta {
	background-color: #2D2558;
	border-top: solid 6px #BF942B;
}

.cinta .ui.mini.icon.input > input {
	height: 2.5em;
}

.ui.cinta.grid > .column {
	margin-top: 0.3rem;
	margin-bottom: 0.3rem;
}

header {
	color: #fff;
	background-color: #2D2558;
	min-height: 100px;
}

.sub.header.column {
	color: rgba(255, 255, 255, 0.7);
}

header .links {
	text-align: center;
}

header a {
	text-decoration: none;
	color: #fff;
}

header .ui.horizontal.links.list,
header .ui.horizontal.links.list a {
	color: rgba(255, 255, 255, 0.8);
	font-size: 0.9em;
	text-decoration: none;
}

header .ui.horizontal.links.list .item {
	margin-top: 0.6em;
	margin-bottom: 1.5em;
}

header .ui.horizontal.links.list .item > .icon {
	display: block;
	margin: 0.1em auto;
	font-size: 2.5em !important;

	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
	-webkit-transition-property: -webkit-transform;
	transition-property: transform;
	-webkit-transform: translateZ(0);
	-ms-transform: translateZ(0);
	transform: translateZ(0);
}

header .ui.horizontal.links.list a:hover .icon {
	-webkit-transform: translateY(-5px);
	-ms-transform: translateY(-5px);
	transform: translateY(-5px);
}

header .search.row {
	background-color: #BF942B;
}

.title.column {
	min-width: 250px;
}

.title.column img {
	border-right: 1px solid #8A86A2;
}

nav {
	border-top: solid 1px #6b619f;
}

.ui.inverted.menu {
	margin: 0;
}

nav,
.ui.inverted.menu,
.ui.dropdown .menu {
	background-color: #1B1635;/*#3b3b6d;*//*#433b6e;*/
}

.ui.dropdown .menu {
	background-color: #312c48;
}

.ui.dropdown .menu .item {
	border-bottom-color: rgba(255, 255, 255, 0.3);
	border-top-color: rgba(255, 255, 255, 0.3);
}

.ui.inverted.menu a,
.ui.inverted.menu .dropdown.item,
.ui.inverted.menu .dropdown.item .menu .item,
.ui.inverted.menu .dropdown.item .menu .item a {
	color: #fff !important;
	font-size: 0.96rem;
}

.ui.inverted.menu a,
.ui.inverted.menu .dropdown.item {
	font-weight: bold;
}

.ui.menu .ui.dropdown .menu .item:hover {
	background-color: rgba(0, 0, 0, 0.1);
}

.ui.page.grid.content {
	background: url('../img/snow.png') repeat;
	background-color: #fff;
}

.ui.items .item:hover {
	cursor: auto;
}

.ui.items .item .content .name {
	font-family: Georgia, Times, serif;
}

.bordered.segment {
	border-top: 0.2em solid #BF942B;
}

.ui.avisos.items > .item:hover {
	border-bottom-color: #BF942B !important;
}

footer {
	color: #a3a3a3;
	background-color: #1B1635;
	border-top: solid 3px #BF942B;
}

footer {
	padding-top: 1rem;
}

footer,
footer .ui.grid > .column,
footer .ui.grid > .row > .column {
	font-size: 0.7rem;
}

footer address {
	font-style: normal;
}

a i.icon,
i.icon a {
	text-decoration: none;
}

i.inverted.facebook.icon {
	background-color: #4A66A0;
}

.banner a img {
	-webkit-transition: opacity 500ms ease-out;
	-moz-transition: opacity 500ms ease-out;
	transition: opacity 500ms ease-out;
}

.banner a:hover img {
	opacity: 0.7;
}

.boletin {
	position: relative;
}

.boletin > .hidden.content {
	display: block;
	color: #fff;
	background-color: #000;
	opacity: 0;
	position:absolute;
	top:0;
	left: 0;
	height: 100%;
	width: 100%;
	visibility:hidden;
	z-index: 25;
	line-height: 100%;
	-webkit-transition:visibility 0s linear 0.1s,opacity 0.5s ease-out;
	-moz-transition:visibility 0s linear 0.1s,opacity 0.5s ease-out;
	-o-transition:visibility 0s linear 0.1s,opacity 0.5s ease-out;
	transition:visibility 0s linear 0.1s,opacity 0.5s ease-out;
}

.boletin a {
	color: #fff;

	-webkit-transition: none;
	-moz-transition: none;
	-o-transition: none;
	transition: none;

	margin-bottom: 0.5em;
}

.boletin:hover > .hidden.content {
	visibility:visible;
	opacity: 0.9;
}

.boletin > .hidden.content > a {
	text-align: center;
	top: 50%;
	width: 100%;
	height: 100%;
	display: block;
	position: absolute;
	font-weight: bold;
}

.enlaces a img {
	margin-bottom: 0.5em;
}

/* From Hover.css ( http://ianlunn.github.io/Hover ) */

.grow {
  display: inline-block;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: -webkit-transform;
  transition-property: transform;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}

.grow:hover {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

/** Slides */

#slides {
  display: none
}

#slides .slidesjs-navigation {
  margin-top:3px;
}

#slides .slidesjs-previous {
  margin-right: 5px;
  float: left;
}

#slides .slidesjs-next {
  margin-right: 5px;
  float: left;
}

.slidesjs-pagination {
  margin: 6px 0 0;
  float: right;
  list-style: none;
}

.slidesjs-pagination li {
  float: left;
  margin: 0 1px;
}

.slidesjs-pagination li a {
  display: block;
  width: 13px;
  height: 0;
  padding-top: 13px;
  background-image: url('../img/pagination.png');
  background-position: 0 0;
  float: left;
  overflow: hidden;

	-webkit-transition: none;
	-moz-transition: none;
	-o-transition: none;
	transition: none;
}

.slidesjs-pagination li a.active,
.slidesjs-pagination li a:hover.active {
  background-position: 0 -13px
}

.slidesjs-pagination li a:hover {
  background-position: 0 -26px
}

#slides a:link,
#slides a:visited {
  color: #333
}

#slides a:hover,
#slides a:active {
  color: #d3b369;
}

.ui.dropdown.many.options.item > .menu {
	width: 225%;
}

.ui.dropdown.many.options.item > .menu .column {
	width: 50%;
	float: left;
	-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
	border-right: 1px solid #8A86A2;
}

.ui.dropdown .menu .item {
	border: none;
}

.ui.dropdown .menu .item:hover {
	border: none;
}

.ui.accordion {
	width: 99%;
}